<html>
<head>
<title>fragment_instruction.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); }
.s1 { color: rgb(0,0,128); font-weight: bold; }
.s2 { color: rgb(0,0,255); font-weight: bold; }
.s3 { color: rgb(0,128,0); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
fragment_instruction.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;</span><span class="s1">FrameLayout </span><span class="s2">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s0"> 
    </span><span class="s2">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
    </span><span class="s2">android:background=</span><span class="s3">&quot;#0070b5&quot;</span><span class="s0"> 
    </span><span class="s2">tools:context=</span><span class="s3">&quot;com.xentaqsys.oet.InstructionFragment&quot;</span><span class="s0">&gt; 
 
    &lt;</span><span class="s1">LinearLayout</span><span class="s0"> 
        </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
        </span><span class="s2">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s0">&gt; 
 
        &lt;</span><span class="s1">TextView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/heading&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_margin=</span><span class="s3">&quot;10dp&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;Instructions&quot;</span><span class="s0"> 
            </span><span class="s2">android:textColor=</span><span class="s3">&quot;#fff&quot;</span><span class="s0"> 
            </span><span class="s2">android:textSize=</span><span class="s3">&quot;25sp&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">TextView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textViewLine1&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_margin=</span><span class="s3">&quot;5dp&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;You are about to begin the Online Test. Answer each question carefully since you are not able to review or change.&quot;</span><span class="s0"> 
            </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
            </span><span class="s2">android:textColor=</span><span class="s3">&quot;#fff&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">TextView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textViewLine2&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_margin=</span><span class="s3">&quot;5dp&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;In this assesment you will encounter question of types:&quot;</span><span class="s0"> 
            </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
            </span><span class="s2">android:textColor=</span><span class="s3">&quot;#fff&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">TextView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textViewLine3&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_margin=</span><span class="s3">&quot;5dp&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;Multiple Choice, Fill in the Blanks, Correct Sequences, Image Question, True or False.&quot;</span><span class="s0"> 
            </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
            </span><span class="s2">android:textColor=</span><span class="s3">&quot;#e0e70b&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">TextView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textViewLine4&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_margin=</span><span class="s3">&quot;5dp&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;You need to complete each online test in defined time period you will not be allowed to add or change answer to question once you have exceeded the time limit.&quot;</span><span class="s0"> 
            </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
            </span><span class="s2">android:textColor=</span><span class="s3">&quot;#fff&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">TextView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textViewLine5&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_margin=</span><span class="s3">&quot;5dp&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;Please do not use back button or home button during Test since you can not change the response once you have submitted it.  &quot;</span><span class="s0"> 
            </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
            </span><span class="s2">android:textColor=</span><span class="s3">&quot;#fff&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">TextView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textViewLine6&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_margin=</span><span class="s3">&quot;5dp&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;Click on the Button below to start the Test.&quot;</span><span class="s0"> 
            </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
            </span><span class="s2">android:textColor=</span><span class="s3">&quot;#e0e70b&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">TextView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textViewLine7&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_margin=</span><span class="s3">&quot;5dp&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;Note: You should not browse other website while attempting the online test since it will be tracked through your system.&quot;</span><span class="s0"> 
            </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
            </span><span class="s2">android:textColor=</span><span class="s3">&quot;#fff&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">TextView</span><span class="s0"> 
            </span><span class="s2">android:id=</span><span class="s3">&quot;@+id/textViewLine8&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_margin=</span><span class="s3">&quot;5dp&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;******** ALL THE BEST ********&quot;</span><span class="s0"> 
            </span><span class="s2">android:textAlignment=</span><span class="s3">&quot;center&quot;</span><span class="s0"> 
            </span><span class="s2">android:textColor=</span><span class="s3">&quot;#fff&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">android.support.v7.widget.AppCompatCheckBox</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_gravity=</span><span class="s3">&quot;center_horizontal&quot;</span><span class="s0"> 
            </span><span class="s2">android:buttonTint=</span><span class="s3">&quot;#fff&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;I agreed to the Terms and Conditions&quot;</span><span class="s0"> 
            </span><span class="s2">android:textColor=</span><span class="s3">&quot;#fff&quot; </span><span class="s0">/&gt; 
 
        &lt;</span><span class="s1">android.support.v7.widget.AppCompatButton</span><span class="s0"> 
            </span><span class="s2">style=</span><span class="s3">&quot;Button&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s0"> 
            </span><span class="s2">android:layout_margin=</span><span class="s3">&quot;5dp&quot;</span><span class="s0"> 
            </span><span class="s2">android:background=</span><span class="s3">&quot;#ff6600&quot;</span><span class="s0"> 
            </span><span class="s2">android:text=</span><span class="s3">&quot;START&quot;</span><span class="s0"> 
            </span><span class="s2">android:textColor=</span><span class="s3">&quot;#fff&quot; </span><span class="s0">/&gt; 
    &lt;/</span><span class="s1">LinearLayout</span><span class="s0">&gt; 
 
 
&lt;/</span><span class="s1">FrameLayout</span><span class="s0">&gt; 
</span></pre>
</body>
</html>